*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    
}

nav{
    background-color: cornflowerblue;
    color: black;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin-right: 150px;
}

.text-box{
    background-color: dimgray;
    color: antiquewhite;
    padding: 30px;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}